.forget-password-label{
    text-align: center;
    font-size: 16;
    margin-top: 10;
    color: #ff3438;
    text-decoration: underline;
}

.btnCotizar{
    background-color: #ff7a1f;
    font-size: 16px;
    font-weight: bold;
    color: white;
}