<ActionBar [title]="titleActionBar" icon="" class="action-bar">
    <NavigationButton *ngIf="isAndroid" icon="font://&#xf060;" class="fas fas-size" (tap)="goBack()"></NavigationButton>
    <NavigationButton *ngIf="isIOS" icon="font://&#xf053;" class="fas fas-size-ios" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout class="container-app-info">
    <GridLayout rows="*, 250, *" columns="*">
        <StackLayout row="0" col="0" verticalAlignment="bottom">
            <Label class="app-name" text="Ahorra Seguros - Móvil" textWrap="true"></Label>
            <Label class="app-version" [text]="'Versión ' + versionApp" textWrap="true"></Label>
        </StackLayout>
        <StackLayout row="1" col="0">
            <Image src="~/assets/login/_logo.png"></Image>
        </StackLayout>
        <StackLayout row="2" col="0">
            <Label class="copyright" text="© 2021 - Ahorra Seguros" textWrap="true"></Label>
            <Label class="copyright" text="Todos los derechos reservados" textWrap="true"></Label>
        </StackLayout>
    </GridLayout>
</StackLayout>