<ActionBar [title]="titleActionBar" icon="" class="action-bar">
    <NavigationButton *ngIf="isAndroid" icon="font://&#xf060;" class="fas fas-size" (tap)="goBack()"></NavigationButton>
    <NavigationButton *ngIf="isIOS" icon="font://&#xf053;" class="fas fas-size-ios" (tap)="goBack()"></NavigationButton>
</ActionBar>
<PDFView [src]="PDF_URL" (load)="onLoad()">
</PDFView>