<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<ActionBar title="" icon="" class="action-bar">
  <NavigationButton *ngIf="isAndroid === true"
    [icon]="isOpenSidedrawer === true ? 'font://&#xf00d;' : 'font://&#xf0c9;'" class="fas fas-size"
    (tap)="showDrawer()">
  </NavigationButton>
  <Image class="ABImage" src="~/assets/login/logo-white.png"></Image>
  <ActionItem *ngIf="isIOS === true" [icon]="isOpenSidedrawer === true ? 'font://&#xf00d;' : 'font://&#xf0c9;'"
    class="fas" ios.position="left" (tap)="showDrawer()"></ActionItem>
</ActionBar>
<RadSideDrawer [drawerTransition]="sideDrawerTransition" (drawerClosing)="isOpenSidedrawer = false">
  <!-- CONTENIDO DEL SIDE DRAWER-->
  <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
    <ScrollView row="1" class="nt-drawer__body">
      <StackLayout>

      <!-- MENÚ GENERAL-->
      <StackLayout class="menu-type">
        <label text="General" textAlignment="center" fontSize="18"></label>
      </StackLayout>

        <!--INICIO-->
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container')">
          <Label col="0" text="&#xf015;" class="nt-icon fas"></Label>
          <Label col="1" text="Inicio" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>

        <!--POLIZAS-->
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/policies')">
          <Label col="0" text="&#xf07c;" class="nt-icon fas"></Label>
          <Label col="1" text="Mis Pólizas" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>

        <!--IDENTIFICACIÓN OFICIAL-->
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/official-identification')">
          <Label col="0" text="&#xf2c2;" class="nt-icon fas"></Label>
          <Label col="1" text="Identificación Oficial" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>

        <!--INSPECCIÓN VEHICULAR-->
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/vehicle-inspection')">
          <Label col="0" text="&#xf5de;" class="nt-icon fas"></Label>
          <Label col="1" text="Inspección Vehicular" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>

        <!--SINIESTROS-->
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/event-of-claim')">
          <Label col="0" text="&#xf5e1;" class="nt-icon fas"></Label>
          <Label col="1" text="En caso de Siniestro" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>

        <!--ATENCIÓN A CLIENTES-->
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/support')">
          <Label col="0" text="&#xf2bd;" class="nt-icon fas"></Label>
          <Label col="1" text="Atención a Clientes" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>

      <!--MENU DE USUARIO-->
      <StackLayout class="menu-type">
        <label text="Mi Perfil" textAlignment="center" fontSize="18"></label>
      </StackLayout>

        <!--INFORMACIÓN-->
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/profile')">
          <Label col="0" text="&#xf2bd;" class="nt-icon fas"></Label>
          <Label col="1" text="Datos Personales" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>
        
        <!--AJUSTES-->
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/settings')">
          <Label col="0" text="&#xf4fe;" class="nt-icon fas"></Label>
          <Label col="1" text="Ajustes" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>

        <!--CERRAR SESIÓN-->
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/logout')">
          <Label col="0" text="&#xf2f5;" class="nt-icon fas"></Label>
          <Label col="1" text="Cerrar Sesión" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>
  <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>