// Add mobile styles for the component here

.question-info-recovery {
    margin-top: 25px;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    vertical-align: middle;
    color: #ff1a5d;
}

.info-psw-recovery {
    font-size: 17px;
    text-align: left;
}

.stack-continue {
    height: 100%;
    /* vertical-align: middle; */
    margin-top: 150px;
    text-align: center;
}

Button {
    background-color: #ff1a5d;
    color: #fff;
    text-transform: uppercase;
}

.field-email {
    font-size: 18;
    placeholder-color: #a8a8a8;
    margin-bottom: 75px;
}

.size-icon {
    font-size: 100px;
    color: #ff1a5d;
    padding-bottom: 50px;
}

.success-email-sent {
    vertical-align: middle;
    font-size: 18px;
    color: #ff1a5d;
    text-align: center;
    margin-top: 250px;
    font-weight: bold;
}
