<ActionBar [title]="titleActionBar" icon="" class="action-bar">
    <NavigationButton *ngIf="isAndroid " icon="font://&#xf060;" class="fas fas-size" (tap)="goBack()">
    </NavigationButton>
    <NavigationButton *ngIf="isIOS " icon="font://&#xf053;" class="fas fas-size-ios" (tap)="goBack()">
    </NavigationButton>
</ActionBar>
<StackLayout>
    <StackLayout width="95%">
        <StackLayout>
            <Label text="¿Cómo restaurar mi contraseña?" class="question-info-recovery" textWrap="true"></Label>
            <Label text="Es necesario ingresar el correo electrónico con el que tienes dado de alta tu cuenta."
                class="info-psw-recovery" textWrap="true"></Label>
            <Label text="¿Qué sigue después?" class="question-info-recovery" textWrap="true"></Label>
            <Label
                text="Se enviará un link a tu correo electrónico que te redirigirá al sitio web de la marca y llenarás un formulario para crear una contraseña nueva."
                class="info-psw-recovery" textWrap="true"></Label>
        </StackLayout>
        <StackLayout class="stack-continue" *ngIf="!continue; else elseBlock">
            <Button text="Continuar..." (tap)="continue = !continue"></Button>
        </StackLayout>
        <ng-template #elseBlock>
            <StackLayout class="stack-continue" *ngIf="emailSent === false">
                <Label text="&#xf023;" class="fas size-icon" textWrap="true"></Label>
                <form [formGroup]="formGroup">
                    <Label text="Ingresa el correo electrónico"
                        style="font-size: 18px; color: #ff1a5d; font-weight: bold;" textWrap="true"></Label>
                    <TextField hint="example@example.com" text="" class="field-email" formControlName="currentEmail">
                    </TextField>
                    <div *ngIf="currentEmailField.errors && currentEmailField.dirty">
                        <Label
                            *ngIf="currentEmailField.hasError('required') && !this.currentEmailField.hasError('pattern')"
                            text="El correo es requerido" textWrap="true" class="errorTextField"></Label>
                        <Label *ngIf="currentEmailField.hasError('pattern')" text="Correo electrónico no válido"
                            textWrap="true" class="errorTextField"></Label>
                    </div>
                    <Button [isEnabled]="formGroup.valid" text="Enviar Correo   &#xf1fa;" (tap)="emailVerification()"
                        class="fas"></Button>
                </form>
            </StackLayout>
            <StackLayout *ngIf="emailSent === true" class="success-email-sent">
                <Label text="Se ha enviado un correo electrónico." textWrap="true"></Label>
                <Label text="Si no aparece en su bandeja de entrada, revise el Correo no deseado o SPAM."
                    textWrap="true"></Label>
            </StackLayout>
        </ng-template>

    </StackLayout>
</StackLayout>